html,
body {
  -ms-touch-action: none;
  background: #ffffff!important;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Microsoft YaHei" ! important;
  font-style: normal;
  
  
}

body {
  /*position: fixed;
  width:100%;
  height:100%;*/
}

#egretDk {
  /*position: fixed;      
    width: 100%;
    height: 100%;*/
}

.mask {
  position: fixed;      
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

/*自定义滚动条*/
::-webkit-scrollbar {
  width: 0.2rem;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 0.1rem;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background: #30B7AF;
}

/* “当前是测试链接” 那串东西*/
#marqueeDiv {
  z-index: 100;
}

.cont-hide {
  display: none!important;
}

.scene-loading {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-image: url('../resource/bg_l.jpg?1556180588');
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction:  column;
  text-align: center;
}
.scene-loading .desc {
  margin-top: 0.4rem;
  font-size: 0.4rem;
  text-align: center;
  color: #ffffff;
}
.scene-loading .desc font {
  font-size: 160%;
}
.scene-loading .yh {
  width: 4.42rem;
  height: 4.42rem;
  background: url('../resource/yh.png?1556180588') no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 20%;
}
.scene-loading .by {
  width: 4.42rem;
  height: 4.42rem;
  background: url('../resource/by.png?1556180588') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  -webkit-animation: ani-run 1.3s linear infinite;
          animation: ani-run 1.3s linear infinite;
}
@-webkit-keyframes ani-run {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scene-loading .logo {
  margin: auto;
  background: url('../resource/logo.png?1556180588') no-repeat;
  background-size: 100% 100%;
  width: 3.01rem;
  height: 0.42rem;
  margin-top: 1.2rem;
}
.scene-loading .txt {
  color: #ffffff;
  font-size: 0.22rem;
}

/*@z-egret > @z-loading :解决微信端loading页面可拖动回弹的恶心问题*/
#egretCont {
  margin: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;  
}

/**/
.cont-spinner {
  position: absolute;
  z-index: 50;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0);
  border-radius: 0.1em;
}
.cont-spinner .spinner-dk {
  width: 2em;
  height: 2em;
  background: rgba(13, 13, 13, 0.6);
  position: absolute;
  border-radius: 0.2em;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cont-spinner .piece {
  -webkit-animation: opacityRun 1.3s linear infinite;
          animation: opacityRun 1.3s linear infinite;
}
.cont-spinner .piece-cell {
  position: absolute;
  width: 0.3em;
  height: 0.03em;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
  -webkit-transform-origin: left center 0px;
          transform-origin: left center 0px;
  border-radius: 0.015em;
}
@-webkit-keyframes opacityRun {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityRun {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

/**/
.cont-weakhint {
  position: fixed;
  z-index: 40;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 0.8em;
  max-width: 97%;
  -webkit-animation: ani-fadein 0.5s linear forwards;
          animation: ani-fadein 0.5s linear forwards;
}
.cont-weakhint span {
  background: #000000;
  opacity: 0.6;
  border-radius: 0.2em;
  font-size: 0.36em;
  color: white;
  text-align: center;
  display: table;
  padding: 0.4em;
  margin: auto;
  height: 1.2em;
  line-height: 1.2em;
  min-width: 2em;
  white-space: normal;
  word-break: break-all;
}

@-webkit-keyframes ani-fadein {
  0% {
    -webkit-transform: translate(0, 1em);
            transform: translate(0, 1em);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.cont-auto {
  z-index: 30;
  position: absolute;
}
